/**
 * Action buttons
 */
.otp-field-action-btn {
  padding: 3px 7px;
  margin: 3px 5px 5px;
  border: 1px solid #ddd;
  color: #555;
  text-decoration: none;
  border-radius: 5px;
}
.otp-field-action-btn:hover {
  background-color: #ddd;
  color: #555;
}

/**
 * message area.
 */
.otp-field-message-area .message {
  margin-bottom: 5px;
  display: inline-block;
  padding: 5px 10px;
}
.otp-field-message-area.status .message {
  background-color: lightgreen;
}
.otp-field-message-area.error .message {
  background-color: pink;
}
